* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  margin-right: 0.5vw;
  padding-left: 10px;
  border-radius: 15px;/*角の丸み*/
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
  border-radius: 15px;/*角の丸み*/
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  margin-right: 1vw;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #333333;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
}

.category-list:hover {
  color: rgb(255, 0, 85);
}

.brand-list {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #333333;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
}

.brand-list:hover {
  color: rgb(255, 0, 85);
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  margin-right: 3vw;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #333333;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
  font-style: italic;
}

.user-nickname:hover {
  color: rgb(255, 0, 85);
}


.logout {
  margin-right: 3vw;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background: #333333;/*ボタン色*/
  border: solid 1px #333333;
  border-radius: 3px;
  transition: .4s;
}

.logout:hover {
  color: rgb(73, 73, 73);
}

.login {
  margin-right: 3vw;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #3ccace;
  border: solid 2px #3ccace;
  border-radius: 3px;
  transition: .4s;
}

.login:hover {
  background: #3ccace;
  color: white;
}

.sign-up {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  border: solid 2px #ff3636;
  background: #ff3636;/*ボタン色*/
  color: #FFF;
  border-radius: 3px;
}
